<img class='logo' src="/img/logo.jpg" height="100px"/>
<h1>I Love Lamps</h1>

<ul class="nav">
  <li><a href="/">Home</a></li>
  <li><a href="/buy/<%= rand(Lamp.count) %>">Buy Lamps Now!</a></li>
  <li><a href="/about">Careers</a></li>
</ul>

